* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  --accent-color: #ff970e;
  overflow-x: hidden;
}

#main {
  margin-block: 70px;
}

.container-fluid {
  padding-inline: 15%;
}

.navbar {
  padding-top: 1rem;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: var(--accent-color) !important;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  font-size: 12px;
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 5em;
  background-color: var(--accent-color);
}

.footer p {
  margin-top: 2em;
  color: #eee;
}

/* Style for form elements on compose.ejs */

.post-form button {
  background-color: var(--accent-color);
  color: #eee;
}

.post-form button:hover {
  background-color: #ffbc64;
  color: #eee;
}

.post-form input:focus,
.post-form textarea:focus {
  box-shadow: inset 0 0 3px 0px var(--accent-color);
  outline: 0;
}

.form-group {
  margin-block: 1rem;
}